@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Bitter-Regular;
    src: url(../fonts/Bitter-Regular.otf);   
}
@font-face {
    font-family: JennaSue;
    src: url(../fonts/JennaSue.ttf);
}


/*------------------General--------------------*/

.main_page{
	position: relative;
	height: 100%;


	background: #611955; 

	font-family:Bitter-Regular;
	font-size:20px;
	font-weight: bold;
	letter-spacing: 2px;

	color: #9E9E9E;

	
}

#menu_bar_items{
	/*works for menu bar*/
	font-family:Bitter-Regular;
	font-size:22px;
	color: #000;	
	background: transparent;
	margin-right: 10%;
	padding-right: 10%;
	width: 100%;
}
#menu_bar_items:hover{
	/*works for menu bar*/
	font-family:Bitter-Regular;
	font-size:22px;
	color: #fff;	
	background: transparent;
	margin-right: 10%;
	padding-right: 10%;
	width: 100%;
}
#menu_bar_items_log_in{
	font-family:Bitter-Regular;
	font-size:18px;
	letter-spacing: 2px;
	color: #000;	
	background: transparent;
	
}
#menu_bar_items_log_in:hover{
	font-family:Bitter-Regular;
	font-size:18px;
	letter-spacing: 2px;
	color: #fff;	
	background: transparent;
	
}

#header{
	background: #9E9E9E;
	color: #000;
	border-bottom: 3px solid #fff;
	

}
#title{
	font-family:fantasy;
	font-size: 40px;
	
	color: #01426A;
	position: absolute;
	margin-top: 2%;
}

#logo{
	
	width:10%;
	margin-top: -3%;
	float:left;
	background: transparent;	
}

#menu_bar{
	width: 80%;
	padding-left: 10%;
	margin-bottom: 1%; 

}
#myNavbar{
	color: #000;
	position: relative;
	margin-top: 7%;
}

#content_of_page{
	position: relative;
	padding-top: 12%;



}


#slider_images{
	background: #510945;
	width:80%;
	margin: auto;
}
#slider_images_tag{
	font-family:Bitter-Regular;
	color:#9E9E9E;	
	font-size:20px;

}
#overview{
	background: #510945;
	color: #FFBBBC;
	border: 6px ridge #01426A;
}
#sub_heading{
	
	width: 100%;
	border:none;

	display:inline-block;	

	font-family:Bitter-Regular;
	font-size:22px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;

	background: transparent;
	color: #EEEEEE;
}
#content{
	font-family:Bitter-Regular;
	font-size:20px;
	font-weight: bold;
	letter-spacing: 2px;
	background: transparent;
	opacity: 60%;
	color: #9E9E9E;

}



/*------------------DISCOVER--------------------*/
#single_ticket{
	padding-bottom: 5%;
	padding-top: 0%;
}
#icons{
	text-align: right;
	font-size:30px;
}
#description_heading{
	
	width: 100%;
	line-height: 44px;
	border:none;
	

	display:inline-block;	

	font-family:Bitter-Regular;
	font-size:40px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;

	background: transparent;
	color: #EEEEEE;
}
#description_content{
	font-family:Bitter-Regular;
	font-size:28px;
	font-weight: bold;
	letter-spacing: 1px;
	background: transparent;
	opacity: 60%;
	color: #9E9E9E;
	text-align: justify;
}
#podcast_image{

	width:60%;
	margin-left: 20%;
	background: transparent;	
	border:3px outset #fff;

}

/*------------------PROFILE--------------------*/
#profile_panel{
	background: #01426A;

}
#profile_content{
	font-family:Bitter-Regular;
	font-size:28px;
	font-weight: bold;
	letter-spacing: 1px;
	background: transparent;
	opacity: 60%;
	color: #9E9E9E;
	text-align: center;

}
#profile_image{
	text-align: center;
	width: 10%;
}





/*------------------scroll bar--------------------*/
/**
#cake_pic{
	border-style: solid;
    border-width: 10px;
	border-color:#D6A354;
	
	display: block;
	width:50%;
	margin:auto;
	
	
}

#pic_description{
	
	color: #D6A354;
	font-family:JennaSue;
	font-size:40px;
	font-weight:bold;
	letter-spacing:4px;
	
	border-style: solid;
    border-width: 10px;
	border-color:#D6A354;
	
	display: block;
	width:50%;
	margin:auto;
	text-align:center;
	
	padding:10px 0px 10px 0px;
	
	background-color:#232123;
	
	font-style:italic;
}

**/
/*------------------Nutritional Information--------------------*/

/**
.tabular_info{
	font-family:Cambria;
	font-size:20px;
	

}
th{
	font-weight:bold;
	text-decoration:underline;
	padding-left:50px;
	padding-right:50px;
	margin-left:20px;
	margin-right:20px;
}
td{
	padding-left:50px;
	padding-right:50px;
	margin-left:20px;
	margin-right:20px;
}
**/


