@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: Bitter-Regular;
    src: url(../fonts/Bitter-Regular.otf);
}
@font-face {
    font-family: JennaSue;
    src: url(../fonts/JennaSue.ttf);
}


/*------------------General--------------------*/

.main_page{
	position: relative;

	/*background: #611955; */
	font-family:Bitter-Regular;
	color: #fff;

   background:  url("../images/background1.jpg") fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;

}


#menu_bar_items{
	/*works for menu bar*/
	font-family:Bitter-Regular;
	color: #ffcc00;
	background-color: #000;

}
#menu_bar_items:hover{
	/*works for menu bar*/
	font-family:Bitter-Regular;
	color: #fff;
	background-color: #000;

}
#menu_bar_items_log_in{
	font-family:Bitter-Regular;
	color: #ffcc00;
	background-color: #000;

}
#menu_bar_items_log_in:hover{
	font-family:Bitter-Regular;
	color: #fff;
	background-color: #000;

}

#header{
	background: #000;
	border-bottom: 1px solid #000;
	height: 10%;
	z-index:+30;
}


#logo{
	width:25%;
	align: left;
	position: absolute;
	margin-top: -1%;
}


#myNavbar{
	color: #000;
}

#content_of_page{
	position: relative;
	margin-top: 7%;
	z-index: 0;

}
#slider{
	/*background-color: rgba(200,0,0,0.8);*/
	width:70%;
	margin: auto;
	padding: 1%;
	z-index: +20;
}


#slider_images{



}
#slider_images_tag{
	font-family:Bitter-Regular;
	color:#2196F3;

}
#overview{
	box-shadow:2px 2px 5px 2px #BDBDBD outset;
	color: #fff;
	border:none;
	/*border: 6px  groove #500A50;*/
	z-index: +2;
	background: rgba(0,0,0,0.5);
}
#sub_heading{

	width: 100%;
	border:none;

	display:inline-block;

	font-family:Bitter-Regular;
	text-align: center;

	background: transparent;

}
#content{
	font-family:Bitter-Regular;
	background: transparent;
	opacity: 60%;
	color: #fff;

}

#footer_page{
	background: #000;
	color: #FFCA28;
	max-height: 5%;
	height: 5%;
	z-index:+30;
}



/*------------------DISCOVER--------------------*/
#single_ticket{
	padding-bottom: 5%;
	padding-top: 0%;
}
#icons{
	text-align: right;
}
#description_heading{

	width: 100%;
	border:none;


	display:inline-block;

	font-family:Bitter-Regular;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;

	background: transparent;
	color: #2196F3;
}
#description_content{
	font-family:Bitter-Regular;
	font-weight: bold;
	letter-spacing: 1px;
	background: transparent;
	opacity: 60%;
	color: #fff;
	text-align: justify;
}
#podcast_image{

	width:60%;
	margin-left: 20%;
	background: transparent;
	border:3px outset #fff;

}

/*------------------PROFILE--------------------*/
#profile_panel{
	background: rgba(33,150,243,0.3);


}
#profile_content{
	font-family:Bitter-Regular;
	font-size:28px;
	font-weight: bold;
	letter-spacing: 1px;
	background: transparent;
	opacity: 60%;
	color:#ffcc00;
	text-align: center;

}
#profile_image{
	text-align: center;
	width: 10%;
	height:10%;
	border: 3px solid #ffcc00;
}

/*------------------LOG IN--------------------*/
#input_fields{
	background: rgba(33,150,243,0.3);
	color:#fff;

}
